@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');

.App {
  text-align: center;
}

.web-title {
  color: rgb(245, 173, 66);
  font-size: 4rem;
  font-family: 'Henny Penny', cursive;
}


